body {
    font-family: 'Rubik', sans-serif !important;
    min-height: 100vh;
    margin: 0rem;
}

.main-container {
    background-color: #ebe8e6;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz-card {
    display: flex;
}

.question-card {
    width: 30rem;
}

.card-letter {
    background-color: lightgrey;
    border: 1px solid transparent;
    padding: 0.5rem;
    margin-right: 2rem;
}

.quiz-answer-card:hover {
    background-color: rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

.side-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidecard-bc {
    background-color: #193ec2 !important;
}

.card-footer {
    display: flex;
    justify-content: space-between;
}

.welcome-text {
    font-weight: 600;
    background-image: url(img/bg-b.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-arrow {
    background-color: lightgrey;
    border: 1px solid transparent;
    border-radius: 100%;
}

.button-arrow:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

.img-arrow {
    width: 1.7rem;
    margin: 0.7rem;
    object-fit: cover;
}