body {
    min-height: 100vh;
    margin: 0rem;
    font-family: 'Rubik', sans-serif !important;
}

.main-container {
    background-color: #ebe8e6;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz-card {
    display: flex;
}

.question-card {
    width: 30rem;
}

.card-letter {
    border: 1px solid transparent;
    background-color: lightgrey;
    padding: 0.5rem;
    margin-right: 2rem;
}

.quiz-answer-card:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05);
}

.side-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidecard-bc {
    background-color: #193ec2 !important;
}

.card-footer {
    display: flex;
    justify-content: space-between;
}

.text-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-arrow {
    border: 1px solid transparent;
    border-radius: 100%;
    background-color: lightgrey;
}

.button-arrow:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

.img-arrow {
    width: 1.7rem;
    margin: 0.7rem;
    object-fit: cover;
}

